# Python Virtual Environments
.venv/
venv/
env/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Environment variables & secrets
.env
.env.*
*.env
.secrets/

# IDE configurations
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating System files
.DS_Store
Thumbs.db
desktop.ini

# Streamlit local credentials & secrets
.streamlit/secrets.toml
